.philosophy, .history, .dreams, .fun {
	display: none;
	height: max-content;
	min-height: 3rem;
	margin-top: 1rem;
}

.show {
	display: none;
}

.blogg-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 1rem;
}

.blogg-menu button {
	padding: 5px 0px;
	background-color: #014288;
	color: white;
	border-radius: 5px;
	width: 100%;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
}

.blog-submit-button {
	background-color: var(--primary-color);
	color: white;
	border-radius: 5px;
	font-size: 1.5rem;
}

.blog-post{
	display: flex;
	box-shadow: 2px 1px 3px 0px;
	border-radius: 5px;
	max-height: max-content;
	flex-direction: column;
}

.blog-post:hover{
	box-shadow: 3px 2px 5px 0px;
}

.blog-post__header {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	background: var(--background-gradient);
	max-width: 100%;
	border-bottom: 1px solid black;
	
}
.blog-post__text {
    list-style: none;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    max-height: max-content;
    font-weight: 400;
    overflow: auto;
    height: 15rem;   
}

.new-philosophy-post, .new-history-post, .new-dreams-post, .new-fun-post {
	display: flex;
	flex-direction: column;
	width: 10%;
}