.gamediv {
	border: 1px solid #000;
	display: block;
	width: 600px;
	height: 90vh;
	position: relative;
}

.spacecraft {
	height: 5rem;
	position: absolute;
	bottom: 0;  /* Set the bottom position to 0 */
	left: 255px;
 }

.spacecraft img {
	height: 100%;
}

.level-one-monsters {
	height: 5rem;
	position: absolute;
}

.level-one-monsters img {
	height: 100%;
}

.level-two-monsters {
	height: 8rem;
	position: absolute;
}

.level-two-monsters img {
	height: 100%;
}

.level-three-monsters {
	height: 8rem;
	position: absolute;
}

.level-three-monsters img {
	height: 100%;
}

.bullet {
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: red;
	z-index: 100;
}